<!-- <header id="header" class="header fixed-top d-flex align-items-center"> -->
    <!-- <div class="d-flex align-items-center justify-content-between">
      
      <i (click)="sidebarToggle()" class="bi bi-list toggle-sidebar-btn"></i>
    </div> -->
   
    <nav>
     
        <img  src="https://assets.codepen.io/10936164/internal/avatars/users/default.png?fit=crop&format=auto&height=512&version=1700504404&width=512" alt="">
     
      <!-- <div id="nav-items">
          <input type="checkbox" id="nav-check"> -->
         
          <ul >
            <li><a  href="#home" class="nav_link_text">HOME</a></li>
            <li><a  href="#work"class="nav_link_text">WORK</a></li>
            <li><a  href="#about"class="nav_link_text">ABOUT</a></li>
            <li><a  href="#contact" class="nav_link_text">CONNECT</a></li>
          </ul>
      
    </nav>
  <!-- </header> -->
  